---
import '../styles/global.css';
import Header from '../components/Header.astro';

// Name
const name = "Travis"
const fullName = name + " Nguyen"

// Education
const major = "Electrical and Computer Engineering"
const school = "University of Washington"
const interests = ["Software Development"] // TODO
const frontLanguages = ["HTML", "CSS", "JavaScript"]
const backLanguages =["Java", "Lua"]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{fullName} | Portfolio</title>
  </head>
  <body>
    <Header/>

    <h1 id="title">{fullName}</h1>
    <p id="major">{major}</p>
    <p id="summary">An {major} student at {school}</p>

    <h2 id="skills" class="Titles">Skills</h2>
    <p class="BasicText">Languages, tools, and technologies curated from <br>personal projects, work experience, and education</p>
    <!-- Change class="BasicText" on line below since it will be in a different format than plain text -->
    <div class="filterBoxes">
      <div class="box frontEnd">
        <h3 class="titleBoxes">Front End Languages</h3>
        {frontLanguages.map((language) => <p class="BasicText language">{language}</p>)} 
      </div>
      <div class="box backEnd">
        <h3 class="titleBoxes">Back End Languages</h3>
        {backLanguages.map((language) => <p class="BasicText language">{language}</p>)}
      </div>
    </div>

    <h2 id="experience" class="Titles">Experience</h2>
    <p class="BasicText">Professional career, internship, or research experience.</p>

    <h2 id="projects" class="Titles">Projects</h2>
    <p class="BasicText">Personal projects and activites that advanced my skillset.</p>
    
    <h2 id="education" class="Titles">Education</h2>
    <p class="BasicText">My College education and coursework</p>
    <p>{school}</p> 
  </body>
</html>