---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Experiences from '../components/Experiences.astro';
import Skills from '../components/Skills.astro';
import Coursework from '../components/Coursework.astro';
import Projects from '../components/Projects.astro';
import WashingtonLogo from '../assets/Washington_Huskies_logo.png';
import Profile from '../assets/Profile.jpg';
import { Image } from 'astro:assets';

// Name
const name = "Travis"
const fullName = "Travis Nguyen"

// Education
const major = "Electrical and Computer Engineering"
const school = "University of Washington"
const GPA = "3.83" // Add this later
const honors = ["Dean's List"]
const awardString = honors.map(award => ` ${award}`).join() // Makes the string look good
const interests = ["Software Development"] // TODO

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{fullName} | Portfolio</title>
  </head>
  <body>
    <Header/>
    
    <main>
      <section id="title">
        <h1>{fullName}</h1>
        <p id="major">{major}</p>
        <p id="summary">An {major} student at {school}</p>
      </section>

      <div class="separator"></div>

      <section id="skills">
        <h2>Skills</h2>
        <p>Languages, tools, and technologies curated from <br>personal projects, work experience, and education</p>
        <Skills/>
      </section>

      <div class="separator"></div>

      <section id="experience">
        <h2>Experience</h2>
        <p>Professional career, internship, or research experience.</p>
        <Experiences/>
      </section>

      <div class="separator"></div>

      <section id="projects">
        <h2>Projects</h2>
        <p>Personal projects and activities that advanced my skillset.</p>
        <Projects/>
      </section>

      <div class="separator"></div>

      <section id="education">
        <h2>Education</h2>
        <p>My College education and coursework</p>
        
        <div>
          <h3>{school} - Seattle</h3>
          <Image src={WashingtonLogo} alt="University of Washington Logo" width={200} />
        </div>

        <ol>
          <li>Major: {major}</li>
          <li>GPA: {GPA}</li>
          <li>Honors: {awardString}</li>
        </ol>

        <h2>Coursework</h2>
        <Coursework />
      </section>
    </main>
  </body>
</html>