---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Experiences from '../components/Experiences.astro';
import Skills from '../components/Skills.astro';
import Coursework from '../components/Coursework.astro';
import Projects from '../components/Projects.astro';
import WashingtonLogo from '../assets/Washington_Huskies_logo.png';
import { Image } from 'astro:assets';

// Name
const name = "Travis"
const fullName = name + " Nguyen"

// Education
const major = "Electrical and Computer Engineering"
const school = "University of Washington"
const GPA = "3.83" // Add this later
const honors = ["Dean's List"]
const awardString = honors.map(award => ` ${award}`).join() // Makes the string look good
const interests = ["Software Development"] // TODO

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{fullName} | Portfolio</title>
  </head>
  <body>

    <!-- About Teleport -->
    <div id="title"></div>
    <Header/>
    <h1>{fullName}</h1>
    <p id="major">{major}</p>

     <!-- Skills Teleport -->
     <div id="skills"></div>

     <!-- Summary -->
    <p id="summary">An {major} student at {school}</p>

    
    <h2 class="Titles">Skills</h2>
    <p class="BasicText">Languages, tools, and technologies curated from <br>personal projects, work experience, and education</p>
    <Skills/>

    <!-- Experience Teleport -->
    <div id="experience"></div>
    <br><br><br>

    <h2 class="Titles">Experience</h2>
    <p class="BasicText">Professional career, internship, or research experience.</p>
    <Experiences/>

     <!-- Projects Teleport -->
    <div id="projects"></div>
    <br><br><br>

    <h2 class="Titles">Projects</h2>
    <p class="BasicText">Personal projects and activities that advanced my skillset.</p>
    <Projects/>
    <!-- Education Teleport -->
    <div id="education"></div>
    <br><br><br>

    <h2 class="Titles">Education</h2>
    <p class="BasicText">My College education and coursework</p>
    <br>

    <div class="edu">
      <h3>{school} - Seattle</h3>
      <Image id="WashingtonLogo" src={WashingtonLogo} alt="University of Washington Logo" width=200 />
    </div>

    <div class="edu">
      <ol id="BasicEducationInfo">
        <li>Major: {major}</li>
        <li>GPA: {GPA}</li>
        <li>Honors: {awardString}</li>
      </ol>
    </div>

    <h2 style="text-align: center;">Coursework</h2>
    <Coursework />

  </body>
</html>